<div class="container d-flex flex-column" style="min-height: 70vh">
  <div class="margem">
    <h2 class="strColor text-center">Novo Apartamento</h2>
    <form>
      <div class="mb-3">
        <label class="form-label">Numero:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="apartamento.numero"
          name="numero"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Bloco:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="apartamento.bloco"
          name="bloco"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">QndVagas:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="apartamento.qndvagas"
          name="qndvagas"
        />
      </div>

      <div>
        <button class="btn btnColor borda-botao" (click)="incluir(apartamento)">
          Incluir Apartamento
        </button>
        <button class="btn btn-secondary" (click)="fechar()">Voltar</button>
      </div>
    </form>
  </div>
</div>
