<div
  class="d-flex p-2 bd-highlight justify-content-between px-md-5 border strColor fundoColor"
>
  <div>Copyright &copy; 2023 - Todos os direitos reservados</div>
  <div>
    <div style="margin-left: 5px">J.F.F.W</div>
    <div style="font-size: 10px; margin-left: 5px">
      Jessianne Saiara de Sousa Macedo
    </div>
    <div style="font-size: 10px; margin-left: 5px">
      Fernanda Renata Zaccaro Rigolin
    </div>
    <div style="font-size: 10px; margin-left: 5px">
      Felipe Augusto da Silva Soares
    </div>
    <div style="font-size: 10px; margin-left: 5px">
      Wanderson Rodrigo Resende Mendes
    </div>
  </div>
</div>
