<table class="table table-striped">
  <thead>
    <th>PLACA</th>
    <th>COR</th>
    <th>MODELO</th>
    <th>VAGA</th>
  </thead>
  <tbody>
    <tr *ngFor="let v of veiculos">
      <td>{{ v.placa }}</td>
      <td>{{ v.cor }}</td>
      <td>{{ v.modelo }}</td>
      <td >BL: {{ v.bloco }} - N.VG: {{v.numero}}</td>
      <td>
        <a routerLink="/veiculos/alteracao/{{ v.placa }}"
          ><i class="bi bi-pencil strColor"></i
        ></a>
        |
        <a routerLink="/veiculos/remocao/{{ v.placa }}"
          ><i class="bi bi-trash strColor"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>