<table class="table table-hover">
  <thead>
    <tr>
      <th>CPF</th>
      <th>NOME</th>
      <th>TELEFONE</th>
      <th>DTNASCIMENTO</th>
      <th>EMAIL</th>
      <th>APARTAMENTO</th>
      <th>NUMERO APARTAMENTO</th>
      <th>BLOCO APARTAMENTO</th>
      <th>QND VAGAS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of proprietarios">
      <td>{{ p.cpf }}</td>
      <td>{{ p.nome }}</td>
      <td>{{ p.telefone }}</td>
      <td>{{ p.dtNascimento }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.apartamento }}</td>
      <td>{{ p.numeroApartamento }}</td>
      <td>{{ p.blocoApartamento }}</td>
      <td>{{ p.qndVagasApartamento }}</td>
    </tr>
  </tbody>
</table>
