<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>APARTAMENTO</th>
      <th>PROPRIETÁRIO</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let a of apartamentos">
      <td>{{ a.nroApartamento | addtexto : "APT:" }}-{{a.blocoApartamento}}</td>
      <td>{{ a.nomeProprietario }}</td>
      <!-- <td>{{ a.qndVagas }}</td>
      <td>{{ a.cpfProprietario }}</td>
      <td>{{ a.nomeProprietario }}</td>
      <td>{{ a.telProprietario }}</td>
      <td>{{ a.emailProprietario }}</td> -->
      <!-- <td>
        <a routerLink="/apartamentos/alteracao/{{ a.id }}"
          ><i class="bi bi-pencil strColor"></i
        ></a>
        |
        <a routerLink="/apartamentos/remocao/{{ a.id }}"
          ><i class="bi bi-trash strColor"></i
        ></a>
      </td> -->
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>VAGA</th>
      <th>VEÍCULO</th>
    </tr>
    
  </thead>
    
  <tbody>
    <tr *ngFor="let v of vagas">
      <td>{{ v.nroVaga | addtexto : "VG:" }}-{{v.blocoVaga}}</td>
      <td *ngIf="v.placaVeiculo">{{ v.placaVeiculo | addtexto : "PL:" }} {{ v.corVeiculo | addtexto : "COR:" }} {{v.modeloVeiculo | addtexto : "MOD:"}} </td>
      <td *ngIf="!v.placaVeiculo"></td>
    </tr>
  </tbody>  
</table>


<!-- this.nroVaga = '';
this.blocoVaga = '';
this.placaVeiculo = '';
this.corVeiculo = '';
this.modeloVeiculo = ''; -->

