<div class="container d-flex flex-column" style="min-height: 70vh">
  <div class="margem">
    <h2 class="strColor text-center">Alteração de Veiculo</h2>
    <form>
      <div class="mb-3">
        <label class="form-label">Placa:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="veiculo.placa"
          name="placa"
          readonly
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Cor:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="veiculo.cor"
          name="cor"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Modelo:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="veiculo.modelo"
          name="preco"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Vaga Atual:</label>
        <!--<select class="form-select"  [(ngModel)]="vagaAtualSelecionada" name="vaga" disabled>-->
        <select class="form-select" disabled>
          <option *ngFor="let vaga of vagaAtual" [value]="vaga.id">
            BL: {{ vaga.bloco }} NUM: {{ vaga.numero }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Vaga:</label>
        <select class="form-select" [(ngModel)]="vagaSelecionada" name="vaga">
          <option *ngFor="let vaga of vagasDisponiveis" [value]="vaga.id">
            BL: {{ vaga.bloco }} NUM: {{ vaga.numero }}
          </option>
        </select>
      </div>

      <div>
        <button
          class="btn btnColor borda-botao mb-3"
          (click)="alterar(veiculo)"
        >
          Alterar Veiculo
        </button>
        <button class="btn btn-secondary mb-3" (click)="fechar()">
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>
