<div class="mb-3">
    <label class="form-label">Informe partes do número da vaga:</label>
    <input type="text" class="form-control" #busca (keyup)="0">
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>APARTAMENTO</th>
            <th>BLOCO VAGA</th>
            <th>NUMERO DA VAGA</th>
            
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let v of vagas | filtrarvagas:busca.value">
            <td>{{v.id}}</td>
            <td>{{v.apartamento ? (v.apartamento.toString() | addtextovagas: "ID:") : ''}} - {{v.numeroApt ? (v.numeroApt.toString() | addtextovagas: "N. AP:"): ''}}</td>
            <!-- <td>{{v.apartamento | addtextovagas: "ID:"}} - {{v.numeroApt | addtextovagas: "N.AP"}}</td> -->
            <td>{{v.bloco | addtextovagas: "BL:"}}</td>
            <td>{{v.numero | addtextovagas: "N. VG:"}}</td>
            
            <td>
                <a routerLink="/vagas/alteracao/{{v.id}}"><i class="bi bi-pencil"></i></a> |
                <a routerLink="/vagas/remocao/{{v.id}}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>