<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>BLOCO</th>
            <th>NUMERO DA VAGA</th>
            <th>APARTAMENTO</th>
            <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let v of vagas">
            <td>{{v.id}}</td>
            <td>{{v.bloco}}</td>
            <td>{{v.numero}}</td>
            <td>{{v.apartamento}}</td>
            <td>
                <a routerLink="/vagas/alteracao/{{v.id}}"><i class="bi bi-pencil"></i></a> |
                <a routerLink="/vagas/remocao/{{v.id}}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>