<div class="margem">
    <h2 class="text-success text-center">Alteração de Vagas</h2>
    <form>

        <div class="mb-3">
            <label class="form-label">Id:</label>
            <input type="text" class="form-control" [(ngModel)]="vaga.id" name="id" readonly/>
        </div>

        <div class="mb-3">
            <label class="form-label">Numero:</label>
            <input type="text" class="form-control" [(ngModel)]="vaga.numero" name="numero" />
        </div>

        <div class="mb-3">
            <label class="form-label">Bloco:</label>
            <input type="text" class="form-control" [(ngModel)]="vaga.bloco" name="bloco" />
        </div>

        <div class="mb-3"> 
            <label class="form-label">Apartamento:</label>
            <input type="text" class="form-control" [(ngModel)]="vaga.apartamento" name="apartamento" />
        </div>

        <div>
            <button class="btn btn-primary borda-botao" (click)="alterar(vaga)">Alterar Vaga</button>
            <button class="btn btn-secondary"(click)="fechar()">Voltar</button>
        </div>
    </form>
</div>
