<h4>Apartamentos - Detalhes</h4>

<!-- <input type="text" #conteudo (keyup)="filtrar(conteudo.value)" /> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numero</th>
            <th>Bloco</th>
            <th>Quantidade</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let a of apartamentos">
            <td>{{a.id}}</td>
            <td>{{a.numero}}</td>
            <td>{{a.bloco}}</td>
            <td>{{a.qndVagas}}</td>
        </tr>
    </tbody>
</table>