<h1 class="strColor text-center">
  Seja bem vindo(a) ao nosso sistema de controle de acesso a estacionamentos
</h1>
<div class="d-flex justify-content-between conteudo-main">
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/usuario.jpeg" width="280px" />
    <!-- <a class="strLink" routerLink="/usuarios">Usuários</a> -->
    <p class="strColor text-left">
      "Usuários": cadastro criado para controle do nível de visibilidade dentro
      do sistema.
    </p>
    <p class="strColor text-left"><strong>Administrador</strong></p>
    <p class="strColor text-left"><strong>Funcionário</strong></p>
    <p class="strColor text-left"><strong>Morador</strong></p>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/apartamento.png" width="280px" />
    <!-- <a class="strLink" routerLink="/apartamentos">Apartamentos</a> -->
    <p class="strColor">
      "Apartamentos": reprenta a unidade residencial privada que pode ser
      ocupada por proprietários.
    </p>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/proprietario.png" width="280px" />
    <!-- <a class="strLink" routerLink="/proprietarios">Proprietários</a> -->
    <p class="strColor">
      "Proprietário": representa uma pessoa física que possui a propriedade de
      um apartamento dentro do condomínio.
    </p>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/vaga.png" width="280px" />
    <!-- <a class="strLink" routerLink="/vagas">Vagas</a> -->
    <p class="strColor">
      "Vaga de Estacionamento": representa um espaço físico dentro da área do
      condomínio onde os proprietários podem estacionar seus veículos.
    </p>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/veiculo.png" width="280px" />
    <!-- <a class="strLink" routerLink="/veiculos">Veículos</a> -->
    <p class="strColor">
      "Veículo": representa um automóvel pertencente a um proprietário. O
      registro dos veículos é fundamental para manter o controle da entrada e
      saída de veículos no local, bem como para garantir a segurança e a ordem
      no estacionamento.
    </p>
  </div>
</div>
