<h1 class="strColor text-center">
  Seja bem vindo(a) ao nosso sistema de controle de acesso a estacionamentos
</h1>
<div class="d-flex justify-content-between conteudo-main">
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/usuario.jpeg" width="280px" />
    <a class="strLink" routerLink="/usuarios">Usuários</a>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/apartamento.png" width="280px" />
    <a class="strLink" routerLink="/apartamentos">Apartamentos</a>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/proprietario.png" width="280px" />
    <a class="strLink" routerLink="/proprietarios">Proprietários</a>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/vaga.png" width="280px" />
    <a class="strLink" routerLink="/vagas">Vagas</a>
  </div>
  <div class="border text-center" style="width: 280px">
    <img src="assets/images/veiculo.png" width="280px" />
    <a class="strLink" routerLink="/veiculos">Veículos</a>
  </div>
</div>
